{% extends 'base.html' %}

{% block header %}
 {% block title %}Ask{% endblock %} your question here 
{% endblock %}

{% block content %}
<div class="container-fluid mx-3">
<form action="">
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Your question" required>
    </div>

    <div class="mb-3">
        <label for="description"  class="form-label">Describe...</label>
        <textarea name="body" id="body" class="form-control" rows="3" placeholder="Describe Your question here with some code will be better "></textarea>
    </div>

    <button class="btn btn-primary" type="submit" formmethod="POST">Post</button>
    
</form>
</div>
{% endblock %}